__pycache__/
venv/
env/
bin/
include/
lib/
*.egg-info/


*.pyc
*.pyo
*.pyd
*.pyz
*.pyw
*.pyc.*
*.swp
*.swo
*.DS_Store
*.suo
*.pdb
*.ipch
*.idea
*.vscode
*.vs
*.sln
*.sdf
*.suo
*.user
*.userosscache
*.sln.docstates
*.sln.ide
*.sln.vspscc



